
.container {

  height: 100vh;
  width: 100vw;
  background-color: "purpule";
}

.mainContent {

  height: inherit;

	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.mainContentText {

  color: white;
}

.button {
  
  border: 1px solid white;
	height: 34px;
	padding: 5px;
	margin-left: 10px;
	color: white;

	cursor: pointer;
}